//These are the base styles
body{
	background: $white;
	color:$grey;
	max-height:100%;
}
html{
    height:100vh!important;
}
h3, h2, h1{
    font-family:$custom;
    color: darken($accent, 15%);
}
.header h1.entry-title{
    display:none;
}
a{
    color:$sidebar;
    font-weight:bold;
    &:hover{
        color: darken($sidebar, 15%);
    }
}
.accent{
    color: $accent;
}
.project-container{
    margin-bottom: 40px;
    overflow:hidden;
    padding-bottom:60px;
}
a.download-btn {
    background-color: #ff9326;
    padding: 20px;
    border-radius: 10px;
    float: right;
    margin: 10px;
    color: #fff;
    &:hover{
        background:lighten($accent, 10%);
    }
}

ul.tech-logos{
    margin:0;
    padding:0;
    list-style: none;
    text-align:center;
    background: #fff;
    margin-bottom:20px;
    border-radius: 0 0 5px 5px;
    border-top:1px solid $white;
    li{
        display:inline-block;
        img{    
            max-width: 75px;
            margin: 20px 20px;
        }
        span{
            display: inline-block;
            margin-bottom: 10px;
            background: #eeeff7;
            color: #445878;
            padding: 2px 10px;
            border-radius: 8px;
            font-size: .9em;
        }
    }
}
.tech-header{
    border-bottom:1px solid #fff;
    background: $black;
    text-align: center;
    color: $white;
    margin-bottom: 0;
    padding: 10px;
    font-size: 25px;
    font-family: $custom;
    border-radius: 5px 5px 0 0;
}
#comments{
    display:none;
}
ul.lcp_catlist {
    margin: 0;
    list-style: none; 
    li {
        display: inline-block;
        width: 200px;
        text-align: center;
        background: #fff;
        border-radius: 5px;
        padding: 0px;
        min-height: 235px;
        vertical-align: top;
        margin: 10px;
        position: relative;
        a{
            position:absolute;
            display:block;
            width:100%;
            img{
                border-radius:5px 5px 0 0;
            }
            &:first-of-type{
                bottom: 0;
                height:70px;
            }

            &:last-of-type{
                top: 0;
            }
        }
    }
}
.post-edit-link{ display:none;}
#wpadminbar{ display:none;}

$parallex-height : 80000000px!important;
@media screen and (min-width: 1000px) {
    body.postid-99, body.postid-102{
        height:$parallex-height;
        max-height:$parallex-height;
        #container{
            height: $parallex-height;
        max-height:$parallex-height;
            margin-left: 20rem;
            .content-wrap{
                position:relative;
                height:100%;
            }
        }
        #wrapper{
            height: $parallex-height;
        max-height:$parallex-height;

        }
    }
    #wrapper{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align-items: stretch;
        -webkit-flex-align-items: stretch;
        -ms-flex-align-items: stretch;
        align-items: stretch;
        min-width: 100vw;
        max-height: 100vh;
        min-height:100vh;
        height:100vh;
        overflow:hidden;
    }
    #container{
        order:2;
        overflow:auto;
        flex-grow: 2;
        min-height:100vh;
        max-height:100vh;
        height:100vh;
        padding-bottom: 100px;
        .row.content-wrap{
            position:relative;
        }
    }
    ul.tech-logos{
        li{
            display:inline-block;
            img{
                    max-width: 100px;
                    margin: 10px 50px;
            }
        }
    }
}