//These are my nav styles
aside#sidebar{
	margin:20px;
	border-bottom:1px solid $blue;
	text-align:center;
	ul.sidebar-widgets{
		list-style: none;
		text-align: center;
		margin:0;
		padding:0;
		.menu{
			text-align:center;
			li.menu-item{
				display:inline-block;
				&.current-menu-item{
					a{
						background:$accent;
					}
				}
				a{
					color:$white;
					background: $blue;
					border-radius: 10px;
					width: 76px;
					margin-bottom: 15px;
					padding: 5px;
					&:hover{
						background:darken($blue, 10%);
					}
				}
			}
		}
	}
}