/* 
================
  EXAMPLE USAGE
================
*/
.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

#branding {
  background: #eeeff7;
  margin: 0 auto 20px;
  padding: 10px;
  height: 140px;
  -webkit-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.75);
  max-width: 290px; }
  #branding a:hover #logo #site-title span {
    -ms-transform: rotate(-20deg);
    /* IE 9 */
    -webkit-transform: rotate(-20deg);
    /* Safari */
    transform: rotate(-20deg);
    transition: all 0.5s cubic-bezier(0.5, -1, 0.05, 0.98); }
  #branding a #logo {
    border: 1px solid #445878;
    height: 100%;
    padding-top: 10px; }
    #branding a #logo #site-title {
      position: relative;
      font-family: "Khula", sans-serif;
      color: #445878;
      font-size: 2.5rem;
      white-space: nowrap;
      display: block;
      text-align: center;
      padding-top: 15px;
      height: 60px; }
      #branding a #logo #site-title span {
        font-family: "Khula", sans-serif;
        color: #ff9326;
        position: absolute;
        top: 9px;
        left: 50%;
        font-size: 40px;
        margin-left: -30px;
        -ms-transform: rotate(0deg);
        /* IE 9 */
        -webkit-transform: rotate(0deg);
        /* Safari */
        transform: rotate(0deg);
        transition: all 0.5s ease; }
    #branding a #logo #site-description {
      font-family: "Wire One", sans-serif;
      color: #949494;
      font-weight: bold;
      font-size: 1.6rem;
      text-align: right;
      width: 221px;
      margin: 0 auto; }

body {
  background: #eeeff7;
  color: #555555;
  max-height: 100%; }

html {
  height: 100vh !important; }

h3, h2, h1 {
  font-family: "Teko", sans-serif;
  color: #d96d00; }

.header h1.entry-title {
  display: none; }

a {
  color: #445878;
  font-weight: bold; }
  a:hover {
    color: #283447; }

.accent {
  color: #ff9326; }

.project-container {
  margin-bottom: 40px;
  overflow: hidden;
  padding-bottom: 60px; }

a.download-btn {
  background-color: #ff9326;
  padding: 20px;
  border-radius: 10px;
  float: right;
  margin: 10px;
  color: #fff; }
  a.download-btn:hover {
    background: #ffac59; }

ul.tech-logos {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #eeeff7; }
  ul.tech-logos li {
    display: inline-block; }
    ul.tech-logos li img {
      max-width: 75px;
      margin: 20px 20px; }
    ul.tech-logos li span {
      display: inline-block;
      margin-bottom: 10px;
      background: #eeeff7;
      color: #445878;
      padding: 2px 10px;
      border-radius: 8px;
      font-size: .9em; }

.tech-header {
  border-bottom: 1px solid #fff;
  background: #1b2426;
  text-align: center;
  color: #eeeff7;
  margin-bottom: 0;
  padding: 10px;
  font-size: 25px;
  font-family: "Teko", sans-serif;
  border-radius: 5px 5px 0 0; }

#comments {
  display: none; }

ul.lcp_catlist {
  margin: 0;
  list-style: none; }
  ul.lcp_catlist li {
    display: inline-block;
    width: 200px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 0px;
    min-height: 235px;
    vertical-align: top;
    margin: 10px;
    position: relative; }
    ul.lcp_catlist li a {
      position: absolute;
      display: block;
      width: 100%; }
      ul.lcp_catlist li a img {
        border-radius: 5px 5px 0 0; }
      ul.lcp_catlist li a:first-of-type {
        bottom: 0;
        height: 70px; }
      ul.lcp_catlist li a:last-of-type {
        top: 0; }

.post-edit-link {
  display: none; }

#wpadminbar {
  display: none; }

@media screen and (min-width: 1000px) {
  body.postid-99, body.postid-102 {
    height: 80000000px !important;
    max-height: 80000000px !important; }
    body.postid-99 #container, body.postid-102 #container {
      height: 80000000px !important;
      max-height: 80000000px !important;
      margin-left: 20rem; }
      body.postid-99 #container .content-wrap, body.postid-102 #container .content-wrap {
        position: relative;
        height: 100%; }
    body.postid-99 #wrapper, body.postid-102 #wrapper {
      height: 80000000px !important;
      max-height: 80000000px !important; }

  #wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align-items: stretch;
    -webkit-flex-align-items: stretch;
    -ms-flex-align-items: stretch;
    align-items: stretch;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    height: 100vh;
    overflow: hidden; }

  #container {
    order: 2;
    overflow: auto;
    flex-grow: 2;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    padding-bottom: 100px; }
    #container .row.content-wrap {
      position: relative; }

  ul.tech-logos li {
    display: inline-block; }
    ul.tech-logos li img {
      max-width: 100px;
      margin: 10px 50px; } }
#header {
  width: 100%;
  background: #445878;
  padding: 1rem;
  -webkit-box-shadow: 6px 0px 15px -5px #2e2e2e;
  -moz-box-shadow: 6px 0px 15px -5px #2e2e2e;
  box-shadow: 6px 0px 15px -5px #2e2e2e;
  position: relative; }

.text-fade {
  color: rgba(45, 59, 82, 0.5);
  font-size: 12px;
  position: relative;
  overflow: hidden;
  max-height: 30%;
  z-index: 0;
  display: none; }
  .text-fade .fade {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445878+0,445878+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00445878', endColorstr='#445878',GradientType=0 );
    /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media screen and (min-width: 1000px) {
  body.postid-99 header#header, body.postid-102 header#header {
    position: fixed; }

  #header {
    order: 1;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    min-width: 20rem;
    width: 20rem;
    max-width: 20rem; }
    #header .text-fade {
      display: block; }
    #header #decoration {
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 200px solid #1b2426;
      position: absolute;
      bottom: 0;
      left: 0; }
    #header #decoration2 {
      width: 0;
      height: 0;
      border-left: 120px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 110px solid #1b2426;
      position: absolute;
      bottom: 0;
      right: 0; } }
aside#sidebar {
  margin: 50px 20px 20px;
  border-bottom: 1px solid #445878;
  text-align: center; }
  aside#sidebar ul.sidebar-widgets {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0; }
    aside#sidebar ul.sidebar-widgets .menu {
      text-align: center; }
      aside#sidebar ul.sidebar-widgets .menu li.menu-item {
        display: inline-block; }
        aside#sidebar ul.sidebar-widgets .menu li.menu-item.current-menu-item a {
          background: #ff9326; }
        aside#sidebar ul.sidebar-widgets .menu li.menu-item a {
          color: #eeeff7;
          background: #445878;
          border-radius: 10px;
          margin-bottom: 15px;
          padding: 10px 25px; }
          aside#sidebar ul.sidebar-widgets .menu li.menu-item a:hover {
            background: #324057; }

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  #menu ul li {
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    -webkit-box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
    background: #445878;
    background: -moz-linear-gradient(left, #445878 10%, #35455e 100%);
    background: -webkit-gradient(left top, right top, color-stop(10%, #445878), color-stop(100%, #35455e));
    background: -webkit-linear-gradient(left, #445878 10%, #35455e 100%);
    background: -o-linear-gradient(left, #445878, #35455e 100%);
    background: -ms-linear-gradient(left, #445878 10%, #35455e 100%);
    background: linear-gradient(to right, #445878 10%, #35455e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sidebar', endColorstr='darken($sidebar, 8%) ', GradientType=1 );
    transition: all 0.5s ease;
    display: inline-block; }
    #menu ul li a {
      display: block;
      padding: 10px 15px;
      color: #eeeff7;
      text-align: right; }
      #menu ul li a i {
        color: #ff9326; }
      #menu ul li a:hover i {
        color: #ffac59; }
    #menu ul li:hover {
      -webkit-box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
      background: -moz-linear-gradient(left, #445878 40%, #2c394e 100%);
      background: -webkit-gradient(left top, right top, color-stop(40%, #445878), color-stop(100%, #2c394e));
      background: -webkit-linear-gradient(left, #445878 40%, #2c394e 100%);
      background: -o-linear-gradient(left, #445878, #2c394e 100%);
      background: -ms-linear-gradient(left, #445878 40%, #2c394e 100%);
      background: linear-gradient(to right, #445878 40%, #2c394e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sidebar', endColorstr='darken($sidebar, 13%) ', GradientType=1 );
      transition: all .3s ease;
      margin-right: -1px;
      margin-left: 2px; }

@media screen and (min-width: 1000px) {
  #menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 50%;
    position: absolute;
    bottom: 80px;
    transform: rotate(-45deg);
    left: 60px;
    z-index: 100; }
    #menu ul li {
      margin-bottom: 10px;
      margin-right: 0;
      margin-left: 0;
      padding: 0;
      -webkit-box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
      box-shadow: 6px 0px 14px -5px rgba(0, 0, 0, 0.75);
      background: #445878;
      background: -moz-linear-gradient(left, #445878 10%, #35455e 100%);
      background: -webkit-gradient(left top, right top, color-stop(10%, #445878), color-stop(100%, #35455e));
      background: -webkit-linear-gradient(left, #445878 10%, #35455e 100%);
      background: -o-linear-gradient(left, #445878, #35455e 100%);
      background: -ms-linear-gradient(left, #445878 10%, #35455e 100%);
      background: linear-gradient(to right, #445878 10%, #35455e 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sidebar', endColorstr='darken($sidebar, 8%) ', GradientType=1 );
      transition: all 0.5s ease;
      display: block;
      width: 100%; }
      #menu ul li a {
        display: block;
        padding: 10px 15px;
        color: #eeeff7;
        text-align: right; }
        #menu ul li a i {
          color: #ff9326; }
        #menu ul li a:hover i {
          color: #ffac59; }
      #menu ul li:hover {
        -webkit-box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 0px 14px -5px rgba(0, 0, 0, 0.75);
        background: -moz-linear-gradient(left, #445878 40%, #2c394e 100%);
        background: -webkit-gradient(left top, right top, color-stop(40%, #445878), color-stop(100%, #2c394e));
        background: -webkit-linear-gradient(left, #445878 40%, #2c394e 100%);
        background: -o-linear-gradient(left, #445878, #2c394e 100%);
        background: -ms-linear-gradient(left, #445878 40%, #2c394e 100%);
        background: linear-gradient(to right, #445878 40%, #2c394e 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$sidebar', endColorstr='darken($sidebar, 13%) ', GradientType=1 );
        transition: all .3s ease;
        margin-right: -1px;
        margin-left: 2px; } }
.category-layout {
  text-align: center; }
  .category-layout .all-projects-list {
    display: inline-block;
    margin: 5px; }
    .category-layout .all-projects-list article h2.entry-title {
      font-size: 1.5em;
      margin: 5px 0 40px;
      background: #445878;
      width: 309px;
      display: inline-block;
      text-align: center;
      padding: 5px 0; }
      .category-layout .all-projects-list article h2.entry-title a {
        color: #eeeff7; }
    .category-layout .all-projects-list article p {
      display: none; }

nav#mega-dropdown {
  background: #544832;
  position: relative; }
  nav#mega-dropdown ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    nav#mega-dropdown ul li {
      display: inline-block; }
      nav#mega-dropdown ul li a {
        color: #c3b7a2;
        display: block;
        padding: 0 20px;
        line-height: 40px;
        text-decoration: none;
        vertical-align: bottom; }
        nav#mega-dropdown ul li a:hover {
          color: #544832;
          background: #c3b7a2; }
    nav#mega-dropdown ul.sub {
      position: absolute;
      left: 0;
      top: 40px;
      background: #c3b7a2;
      width: 100%;
      text-align: left;
      display: none;
      padding: 20px;
      box-sizing: border-box; }
      nav#mega-dropdown ul.sub li {
        width: 100%;
        color: #544832; }
        nav#mega-dropdown ul.sub li .mega-drop-wrapper {
          width: 100%;
          margin: 0 auto; }
          nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns {
            float: left; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text {
              width: 500px;
              padding: 0 20px;
              background: transparent;
              color: #c3b7a2;
              border-right: 1px solid #544832; }
              nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations {
                background: Transparent;
                width: 100%; }
                nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li {
                  left: 540px;
                  width: 500px; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li h3 {
                    margin-top: 0;
                    color: #4e2a0b; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li.active {
                    left: 0;
                    transition: all 0.5s ease;
                    display: block; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li.next-mega-image {
                    display: none;
                    left: 540px;
                    z-index: 0;
                    transition: all 0.5s ease; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li.prev-mega-image {
                    display: none;
                    left: -540px;
                    z-index: 0;
                    transition: all 0.5s ease; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns.text .mega-drop-vacations ul li a {
                    display: inline;
                    text-decoration: underline;
                    font-style: italic;
                    margin: 0;
                    padding: 0;
                    color: #4e2a0b; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns #mega-drop-back, nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns #mega-drop-next {
              cursor: pointer;
              display: inline-block;
              background: #fff;
              padding: 5px 20px;
              border-radius: 5px;
              color: #544832;
              margin-top: 10px; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns #mega-drop-next {
              float: right; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations {
              width: 300px;
              height: 200px;
              text-align: left;
              overflow: hidden;
              background: #fff; }
              nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations ul {
                position: relative; }
                nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations ul li {
                  position: absolute;
                  top: 0;
                  transition: all 0.5s ease; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations ul li.active {
                    left: 0;
                    z-index: 1;
                    transition: all 0.5s ease;
                    display: block; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations ul li.next-mega-image {
                    left: 301px;
                    z-index: 0;
                    transition: all 0.5s ease; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns .mega-drop-vacations ul li.prev-mega-image {
                    left: -301px;
                    z-index: 0;
                    transition: all 0.5s ease; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-columns ul {
              text-align: left; }
          nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section {
            width: 45%;
            float: right;
            text-align: left; }
            nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column {
              width: 50%;
              float: left; }
              nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column:first-of-type {
                border-right: 1px solid #544832; }
              nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column ul {
                text-align: left; }
                nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column ul li h3 {
                  color: #4e2a0b;
                  margin-top: 0; }
                nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column ul li a {
                  color: #544832;
                  margin: 0;
                  padding: 0;
                  display: inline; }
                  nav#mega-dropdown ul.sub li .mega-drop-wrapper .mega-drop-section .dark-column ul li a:hover {
                    color: black;
                    background: transparent;
                    cursor: pointer; }

/* the ul will be set to relative to set the images inside of it to absolute */
.j-slider {
  position: relative;
  padding: 0;
  margin: 20px auto;
  /* set all images to stack above each other at 
  the top right corner of the ul. set opacity to 0
  and transitions to half a second for nice 
  fade in effect without js */
  /*  set styles for all spans beginning 
  with 'j-slide' (to target the buttons) */
  /* position the buttons */ }
  .j-slider .slides, .j-slider li {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    transition: left 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    /* position the next slide */
    /* position the previous slide */
    /* make active slide sit on top visibly */
    /* ...and after transitions*/ }
    .j-slider .slides.next-slide, .j-slider li.next-slide {
      left: 600px;
      opacity: 0; }
    .j-slider .slides.previous-slide, .j-slider li.previous-slide {
      left: -600px;
      opacity: 0; }
    .j-slider .slides.active, .j-slider li.active {
      z-index: 10;
      opacity: 1;
      /* position the next slide (during transition) */
      /* position the previous slide (during transition) */
      /* make sure non active slides sit back 
      during transitions... */ }
      .j-slider .slides.active.next-slide, .j-slider li.active.next-slide {
        left: 600px;
        opacity: 0; }
      .j-slider .slides.active.previous-slide, .j-slider li.active.previous-slide {
        left: -600px;
        opacity: 0; }
      .j-slider .slides.active.previous-slide, .j-slider .slides.active.next-slide, .j-slider li.active.previous-slide, .j-slider li.active.next-slide {
        z-index: 9; }
    .j-slider .slides.previous-slide, .j-slider .slides.next-slide, .j-slider li.previous-slide, .j-slider li.next-slide {
      z-index: 9; }
  .j-slider span[class^="j-slide"] {
    border: 1px solid #333;
    background: #333;
    color: #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    display: inline-block;
    position: absolute;
    bottom: -50px;
    z-index: 5; }
    .j-slider span[class^="j-slide"] :hover {
      color: #333;
      background: #ccc; }
  .j-slider .j-slide-back {
    left: 0; }
  .j-slider .j-slide-next {
    right: 0; }

.parallax-welcome {
  height: 100px;
  background: #fff;
  margin-top: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px; }

.bg-1-container {
  position: relative;
  padding-top: 300px;
  margin-top: 100px; }
  .bg-1-container .parallax-bg-1 {
    background-image: url(http://www.juans.work/wp-content/uploads/2016/09/back.jpg);
    margin-bottom: 4000px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 34px;
    padding: 35px;
    opacity: 0; }
  .bg-1-container .bg-1-text {
    position: absolute;
    left: 40px;
    z-index: 40;
    text-shadow: -3px 0px 1px black;
    color: #ff9326;
    font-weight: 800; }

.bg-1-message {
  position: absolute; }

.parallax-covered {
  position: relative;
  overflow: hidden; }
  .parallax-covered .parallax-covered-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 10000;
    background: #000; }
  .parallax-covered .covered-text {
    z-index: 10001;
    color: #fff;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    position: fixed;
    width: 500px; }
    .parallax-covered .covered-text h2, .parallax-covered .covered-text p {
      z-index: 10002; }

.tetris-holder {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }
  .tetris-holder .tetris-1 {
    background: url("http://www.juans.work/wp-content/uploads/2016/09/background-2.png");
    background-repeat: repeat;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .tetris-holder .tetris-2 {
    background: url("http://www.juans.work/wp-content/uploads/2016/09/background-2.png");
    background-repeat: repeat;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%; }

#header {
  width: 100%;
  background: #445878;
  padding: 1rem;
  -webkit-box-shadow: 6px 0px 15px -5px #2e2e2e;
  -moz-box-shadow: 6px 0px 15px -5px #2e2e2e;
  box-shadow: 6px 0px 15px -5px #2e2e2e;
  position: relative; }

.text-fade {
  color: rgba(45, 59, 82, 0.5);
  font-size: 12px;
  position: relative;
  overflow: hidden;
  max-height: 30%;
  z-index: 0;
  display: none; }
  .text-fade .fade {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#445878+0,445878+100&0+0,1+100 */
    background: -moz-linear-gradient(top, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(68, 88, 120, 0) 10%, #445878 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00445878', endColorstr='#445878',GradientType=0 );
    /* IE6-9 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media screen and (min-width: 1000px) {
  body.postid-99 header#header, body.postid-102 header#header {
    position: fixed; }

  #header {
    order: 1;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    min-width: 20rem;
    width: 20rem;
    max-width: 20rem; }
    #header .text-fade {
      display: block; }
    #header #decoration {
      width: 0;
      height: 0;
      border-left: 0px solid transparent;
      border-right: 200px solid transparent;
      border-bottom: 200px solid #1b2426;
      position: absolute;
      bottom: 0;
      left: 0; }
    #header #decoration2 {
      width: 0;
      height: 0;
      border-left: 120px solid transparent;
      border-right: 0px solid transparent;
      border-bottom: 110px solid #1b2426;
      position: absolute;
      bottom: 0;
      right: 0; } }

/*# sourceMappingURL=app.css.map */
